[Desktop Entry]
Name=Install Apricity OS
GenericName=Live Installer
Comment=Install the operating system to disk
Exec=su -c "QT_STYLE_OVERRIDE=gtk3 calamares"
Icon=/usr/share/icons/calamares.png
Terminal=False
Type=Application
Categories=System;
